In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import normalize
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [9]:
sc = sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

# Data Preprocessing

## Movie

In [21]:
genre = pd.read_csv('Data/u.genre', sep = "|")
genre.head(20)

genre_list = list(pd.Series(genre['unknown']))

In [22]:
movieInfo = pd.read_csv('Data/u.item', sep = "|", encoding = "iso-8859-1", names=['MovieId','Title','Date','RealeseDate', 'VideoRDate','IMDB']+genre_list)
requiredInfo = movieInfo.drop(['Date', 'RealeseDate','VideoRDate','IMDB'], axis =1)
requiredInfo.head(5)

,MovieId,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [23]:
indexedMovies = requiredInfo.drop(genre_list, axis=1)
indexedMovies.head(5)

   MovieId              Title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [24]:
columnPurpose = requiredInfo.drop(['MovieId','Title'],axis = 1)
columnPurpose.head(5)

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [25]:
requiredInfo.to_csv("ProcessedData/requiredInfo.csv", index=False)
columnPurpose.to_csv("ProcessedData/movie_genre.csv", index=False)
indexedMovies.to_csv("ProcessedData/movieId_movies.csv", index=False)

## User-Ratings

In [26]:
def mapper1(row):
    user, movie, rating, date = row.split("\t")
    return((user,["%s-%s" %(movie,rating)]))

def sortMoviesByRatings(row):
    movies = row[1]
    movies.sort(key = lambda x: -int(x[-1]))
    return (row[0]," ".join(movies[:3]))

In [27]:
ratings = sc.textFile('Data/u.data').map(mapper1)
ratings = ratings.reduceByKey(lambda x,y: x+y)

In [28]:
ratings = ratings.map(sortMoviesByRatings)
ratings.collect()

[('22', '128-5 258-5 510-5'),
 ('244', '154-5 89-5 652-5'),
 ('115', '8-5 127-5 234-5'),
 ('305', '427-5 483-5 50-5'),
 ('286', '1014-5 379-5 288-5'),
 ('303', '69-5 134-5 161-5'),
 ('122', '387-5 715-5 708-5'),
 ('234', '705-5 134-5 519-5'),
 ('119', '1153-5 237-5 222-5'),
 ('167', '1306-5 1126-5 133-5'),
 ('299', '127-5 216-5 462-5'),
 ('102', '195-4 307-4 89-4'),
 ('63', '100-5 1007-5 301-5'),
 ('160', '234-5 174-5 160-5'),
 ('50', '253-5 475-5 1084-5'),
 ('301', '79-5 202-5 174-5'),
 ('290', '143-5 50-5 71-5'),
 ('157', '150-5 127-5 273-5'),
 ('278', '603-5 525-5 22-5'),
 ('10', '611-5 100-5 488-5'),
 ('284', '301-5 347-5 272-5'),
 ('246', '201-5 425-5 68-5'),
 ('249', '241-5 746-5 11-5'),
 ('20', '87-5 148-5 496-5'),
 ('138', '26-5 523-5 483-5'),
 ('60', '427-5 60-5 430-5'),
 ('57', '304-5 79-5 744-5'),
 ('223', '969-5 237-5 216-5'),
 ('189', '520-5 1060-5 56-5'),
 ('243', '221-5 582-5 511-5'),
 ('241', '750-5 880-5 288-5'),
 ('222', '750-5 173-5 53-5'),
 ('8', '22-5 50-5 182-5'),
 ('162', '1047-5 50-5 508-5'),
 ('279', '154-5 741-5 168-5'),
 ('145', '237-5 56-5 22-5'),
 ('216', '55-5 174-5 196-5'),
 ('265', '742-5 300-5 591-5'),
 ('198', '135-5 357-5 188-5'),
 ('110', '313-5 161-5 307-4'),
 ('237', '528-5 100-5 1192-5'),
 ('128', '603-5 736-5 143-5'),
 ('44', '195-5 660-5 449-5'),
 ('264', '200-5 721-5 504-5'),
 ('82', '64-5 481-5 174-5'),
 ('174', '315-5 937-5 660-5'),
 ('84', '12-5 528-5 529-5'),
 ('259', '12-5 180-5 313-5'),
 ('213', '273-5 172-5 173-5'),
 ('121', '14-5 509-5 86-5'),
 ('68', '237-5 178-5 50-5'),
 ('19', '435-5 8-5 4-4'),
 ('66', '181-5 471-5 742-5'),
 ('26', '100-5 127-5 302-5'),
 ('130', '234-5 267-5 366-5'),
 ('256', '781-5 86-5 487-5'),
 ('1', '202-5 171-5 253-5'),
 ('56', '121-5 449-5 222-5'),
 ('207', '318-5 1242-5 187-5'),
 ('161', '202-5 276-5 272-5'),
 ('83', '281-5 210-5 82-5'),
 ('272', '178-5 12-5 1101-5'),
 ('54', '742-5 676-5 268-5'),
 ('16', '64-5 705-5 197-5'),
 ('91', '423-5 195-5 331-5'),
 ('229', '302-5 311-5 344-5'),
 ('70', '419-5 423-5 228-5'),
 ('14', '213-5 174-5 709-5'),
 ('214', '42-5 151-5 179-5'),
 ('192', '1405-5 302-5 258-5'),
 ('100', '316-5 313-5 315-5'),
 ('307', '89-5 173-5 258-5'),
 ('113', '595-5 126-5 326-5'),
 ('219', '179-5 132-5 114-5'),
 ('158', '770-5 190-5 483-5'),
 ('296', '705-5 508-5 20-5'),
 ('33', '313-5 328-4 343-4'),
 ('154', '175-5 182-5 50-5'),
 ('77', '484-5 474-5 195-5'),
 ('270', '25-5 98-5 558-5'),
 ('184', '321-5 514-5 86-5'),
 ('112', '289-5 306-5 312-5'),
 ('215', '423-5 151-5 1039-5'),
 ('69', '256-5 268-5 174-5'),
 ('240', '313-5 898-5 301-5'),
 ('144', '153-5 313-5 747-5'),
 ('21', '558-5 447-5 164-5'),
 ('134', '313-5 748-5 751-5'),
 ('180', '462-5 68-5 433-5'),
 ('263', '176-5 419-5 416-5'),
 ('64', '516-5 778-5 187-5'),
 ('257', '59-5 276-5 50-5'),
 ('111', '269-5 315-5 302-5'),
 ('285', '150-5 151-5 288-5'),
 ('96', '91-5 8-5 484-5'),
 ('116', '187-5 313-5 180-5'),
 ('73', '657-5 357-5 12-5'),
 ('221', '48-5 268-5 172-5'),
 ('164', '685-5 117-5 689-5'),
 ('45', '109-5 127-5 276-5'),
 ('230', '742-5 304-5 963-5'),
 ('231', '126-5 924-5 471-5'),
 ('280', '631-5 127-5 1028-5'),
 ('217', '22-5 82-5 195-5'),
 ('283', '1114-5 432-5 186-5'),
 ('107', '340-5 269-5 902-5'),
 ('226', '242-5 169-5 14-5'),
 ('173', '328-5 286-5 323-5'),
 ('185', '287-5 269-5 127-5'),
 ('150', '181-5 246-5 127-5'),
 ('274', '845-5 50-5 748-5'),
 ('188', '692-5 143-5 96-5'),
 ('48', '174-5 308-5 661-5'),
 ('208', '216-5 663-5 197-5'),
 ('248', '117-5 475-5 127-5'),
 ('93', '15-5 477-5 1-5'),
 ('146', '1022-5 331-5 1293-5'),
 ('29', '286-5 661-5 268-5'),
 ('141', '258-5 274-5 125-5'),
 ('108', '275-5 515-5 10-5'),
 ('255', '249-5 763-5 98-5'),
 ('140', '286-5 303-5 268-4'),
 ('190', '302-5 471-5 313-5'),
 ('24', '64-5 191-5 763-5'),
 ('17', '150-5 151-4 1-4'),
 ('53', '174-5 100-5 199-5'),
 ('106', '97-5 165-5 194-5'),
 ('175', '127-5 483-5 215-5'),
 ('153', '64-5 56-5 258-5'),
 ('143', '331-5 347-5 325-5'),
 ('202', '604-5 484-4 258-4'),
 ('277', '273-5 286-5 255-4'),
 ('179', '258-5 316-5 895-5'),
 ('4', '303-5 361-5 294-5'),
 ('304', '237-5 298-5 313-5'),
 ('227', '295-5 293-5 7-5'),
 ('252', '9-5 268-5 275-5'),
 ('147', '904-5 292-5 339-5'),
 ('34', '242-5 299-5 332-5'),
 ('204', '340-5 292-5 1022-5'),
 ('315', '305-5 531-5 654-5'),
 ('316', '98-5 213-5 549-5'),
 ('209', '251-5 50-5 1-5'),
 ('88', '881-5 261-5 904-5'),
 ('9', '298-5 691-5 487-5'),
 ('74', '272-5 313-5 340-5'),
 ('319', '313-5 879-5 302-4'),
 ('98', '517-5 116-5 629-5'),
 ('12', '735-5 471-5 143-5'),
 ('40', '268-4 754-4 303-4'),
 ('258', '313-5 310-5 751-5'),
 ('325', '430-5 179-5 506-5'),
 ('326', '50-5 496-5 318-5'),
 ('328', '519-5 523-5 528-5'),
 ('330', '136-5 235-5 51-5'),
 ('331', '47-5 69-5 305-5'),
 ('86', '258-5 889-5 1175-5'),
 ('139', '303-5 127-5 297-5'),
 ('163', '316-5 56-4 64-4'),
 ('333', '66-5 739-5 316-5'),
 ('334', '603-5 100-5 481-5'),
 ('132', '922-5 56-5 664-5'),
 ('336', '154-5 1074-5 1012-5'),
 ('335', '347-5 902-5 307-5'),
 ('338', '408-5 484-5 663-5'),
 ('342', '288-5 132-5 1368-5'),
 ('317', '350-5 748-5 300-4'),
 ('341', '880-5 292-5 887-5'),
 ('344', '306-5 119-5 175-5'),
 ('345', '48-5 151-5 285-5'),
 ('346', '33-5 133-5 134-5'),
 ('347', '22-5 79-5 144-5'),
 ('348', '928-5 288-5 147-5'),
 ('354', '242-5 694-5 86-5'),
 ('351', '879-5 313-5 984-5'),
 ('356', '313-5 689-5 272-5'),
 ('361', '286-5 709-5 185-5'),
 ('365', '301-5 813-5 321-5'),
 ('370', '265-5 209-5 493-5'),
 ('372', '159-5 219-5 635-5'),
 ('378', '52-5 289-5 191-5'),
 ('375', '185-5 183-5 302-5'),
 ('359', '313-5 408-5 7-5'),
 ('380', '530-5 286-5 12-5'),
 ('385', '1367-5 221-5 524-5'),
 ('387', '56-5 32-5 200-5'),
 ('386', '515-5 117-5 840-5'),
 ('389', '613-5 656-5 507-5'),
 ('383', '474-5 321-5 663-5'),
 ('390', '989-5 100-5 304-5'),
 ('376', '269-5 275-5 98-5'),
 ('353', '286-5 316-5 272-5'),
 ('413', '124-5 297-5 181-5'),
 ('408', '748-5 319-5 315-5'),
 ('410', '313-5 269-5 286-4'),
 ('411', '172-5 168-5 186-5'),
 ('417', '83-5 196-5 64-5'),
 ('412', '318-5 173-5 634-5'),
 ('422', '919-5 273-5 276-5'),
 ('419', '705-5 173-5 488-5'),
 ('429', '86-5 511-5 431-5'),
 ('435', '462-5 628-5 273-5'),
 ('433', '302-5 50-5 657-5'),
 ('426', '480-5 603-5 429-5'),
 ('442', '636-5 710-5 56-5'),
 ('440', '886-5 1038-5 283-5'),
 ('445', '475-5 959-5 346-5'),
 ('447', '121-5 100-5 68-5'),
 ('449', '137-5 212-5 276-5'),
 ('446', '292-5 269-4 270-4'),
 ('451', '294-5 331-5 260-5'),
 ('452', '191-5 27-5 89-5'),
 ('453', '246-5 7-5 42-5'),
 ('414', '100-5 272-5 346-5'),
 ('457', '192-5 500-5 527-5'),
 ('456', '479-5 660-5 170-5'),
 ('458', '191-5 847-5 152-5'),
 ('461', '1006-5 9-5 313-4'),
 ('467', '109-5 268-5 100-5'),
 ('468', '209-5 507-5 71-5'),
 ('465', '64-5 175-5 258-5'),
 ('474', '8-5 480-5 528-5'),
 ('469', '513-5 499-5 484-5'),
 ('464', '269-5 482-5 709-5'),
 ('478', '143-5 318-5 151-5'),
 ('473', '273-5 1142-5 268-5'),
 ('470', '50-5 508-5 150-5'),
 ('441', '1-5 9-4 751-4'),
 ('486', '471-5 285-5 872-5'),
 ('481', '524-5 435-5 216-5'),
 ('492', '318-5 127-5 511-5'),
 ('490', '150-5 50-5 127-5'),
 ('483', '109-5 230-5 283-5'),
 ('496', '727-5 921-5 42-5'),
 ('495', '174-5 71-5 153-5'),
 ('477', '815-5 709-5 88-5'),
 ('488', '468-5 87-5 64-5'),
 ('499', '511-5 514-5 463-5'),
 ('502', '288-5 271-5 343-5'),
 ('503', '181-5 659-5 900-5'),
 ('504', '414-5 288-5 133-5'),
 ('505', '498-5 402-5 378-5'),
 ('506', '494-5 50-5 510-5'),
 ('514', '96-5 746-5 189-5'),
 ('508', '172-5 150-5 209-5'),
 ('515', '300-5 362-4 313-4'),
 ('512', '198-5 318-5 11-5'),
 ('513', '117-5 265-5 181-5'),
 ('509', '50-5 288-5 302-5'),
 ('501', '127-5 475-5 1067-5'),
 ('520', '269-5 242-5 286-5'),
 ('519', '1617-5 352-5 1280-5'),
 ('530', '178-5 357-5 60-5'),
 ('517', '300-5 369-5 275-5'),
 ('485', '242-5 889-5 302-5'),
 ('536', '174-5 143-5 230-5'),
 ('526', '269-5 315-5 676-5'),
 ('537', '134-5 205-5 644-5'),
 ('541', '210-5 781-5 660-5'),
 ('538', '191-5 496-5 98-5'),
 ('542', '56-5 191-5 23-5'),
 ('545', '210-5 228-5 472-5'),
 ('539', '382-5 661-5 242-5'),
 ('548', '273-5 118-5 147-5'),
 ('522', '100-5 523-5 430-5'),
 ('553', '505-5 511-5 22-5'),
 ('552', '301-4 14-4 742-4'),
 ('540', '100-5 50-5 9-5'),
 ('560', '258-5 246-5 134-5'),
 ('566', '1193-5 242-5 207-5'),
 ('557', '8-5 872-5 180-5'),
 ('564', '121-4 345-4 257-4'),
 ('562', '443-5 462-5 191-5'),
 ('579', '83-5 216-5 603-5'),
 ('572', '124-5 9-5 300-4'),
 ('584', '313-5 228-5 114-4'),
 ('588', '721-5 365-5 204-5'),
 ('586', '559-5 161-5 33-5'),
 ('585', '463-5 1512-5 863-5'),
 ('582', '750-5 93-5 7-5'),
 ('581', '919-5 100-5 813-5'),
 ('580', '181-5 289-5 252-5'),
 ('590', '285-5 150-5 126-5'),
 ('583', '12-5 268-5 175-5'),
 ('596', '313-5 328-5 50-5'),
 ('570', '303-5 305-5 302-4'),
 ('602', '50-5 127-5 181-5'),
 ('600', '127-5 435-5 176-5'),
 ('603', '11-5 172-5 181-5'),
 ('595', '1134-5 508-5 151-5'),
 ('608', '1172-5 65-5 489-5'),
 ('610', '483-5 402-5 143-5'),
 ('611', '300-5 344-5 286-5'),
 ('616', '750-5 272-5 286-5'),
 ('571', '124-4 64-4 174-4'),
 ('621', '135-5 181-5 559-5'),
 ('612', '1063-5 924-5 275-5'),
 ('623', '50-5 275-5 204-5'),
 ('628', '270-5 330-5 302-5'),
 ('629', '528-5 187-5 162-5'),
 ('633', '79-5 28-4 526-4'),
 ('631', '272-4 346-4 289-4'),
 ('634', '237-5 302-5 286-5'),
 ('630', '476-5 117-5 255-5'),
 ('642', '1039-5 921-5 720-5'),
 ('637', '690-5 408-5 1233-5'),
 ('640', '941-5 173-5 385-5'),
 ('643', '56-5 484-5 87-5'),
 ('598', '313-5 750-5 258-5'),
 ('635', '269-5 262-5 327-5'),
 ('644', '300-5 257-5 121-5'),
 ('645', '179-5 197-5 175-5'),
 ('648', '96-5 304-5 188-5'),
 ('654', '318-5 222-5 313-5'),
 ('649', '1-5 291-5 471-5'),
 ('658', '8-5 182-5 515-5'),
 ('656', '896-5 347-4 344-4'),
 ('660', '168-5 151-5 173-5'),
 ('659', '507-5 607-5 419-5'),
 ('664', '89-5 187-5 659-5'),
 ('657', '294-5 111-5 269-5'),
 ('662', '6-5 93-5 285-5'),
 ('667', '285-5 223-5 651-5'),
 ('641', '484-5 865-5 285-5'),
 ('668', '210-5 283-5 272-5'),
 ('671', '250-5 385-5 204-5'),
 ('676', '265-5 181-5 344-5'),
 ('674', '127-5 282-5 117-5'),
 ('677', '307-5 1240-5 245-5'),
 ('682', '924-5 68-5 92-5'),
 ('679', '181-5 357-5 223-5'),
 ('685', '269-3 302-3 325-3'),
 ('683', '511-5 321-5 302-5'),
 ('691', '603-5 1-5 170-5'),
 ('690', '218-5 98-5 64-5'),
 ('697', '713-5 301-5 273-5'),
 ('698', '83-5 50-5 529-5'),
 ('694', '191-5 196-5 9-5'),
 ('705', '1043-5 298-5 265-5'),
 ('699', '258-5 325-5 1163-5'),
 ('707', '531-5 170-5 1628-5'),
 ('700', '181-5 50-5 173-5'),
 ('695', '319-5 1024-5 346-5'),
 ('675', '306-5 531-5 509-5'),
 ('712', '731-5 392-5 385-5'),
 ('715', '202-5 426-5 193-5'),
 ('716', '318-5 483-5 91-5'),
 ('721', '50-5 328-5 357-5'),
 ('717', '287-5 25-5 293-5'),
 ('718', '756-5 300-5 471-5'),
 ('722', '151-5 333-5 845-5'),
 ('724', '310-5 272-5 313-5'),
 ('727', '433-5 203-5 187-5'),
 ('725', '100-5 286-5 333-5'),
 ('720', '1062-5 302-5 1176-5'),
 ('703', '257-5 50-5 237-5'),
 ('738', '318-5 205-5 180-5'),
 ('736', '515-5 1388-5 253-5'),
 ('743', '224-5 100-5 297-5'),
 ('742', '258-5 100-5 14-5'),
 ('737', '186-5 175-5 127-5'),
 ('733', '19-5 14-5 1067-5'),
 ('745', '492-5 190-5 519-5'),
 ('747', '208-5 23-5 223-5'),
 ('723', '168-5 748-5 174-4'),
 ('756', '603-5 178-5 100-5'),
 ('757', '4-5 549-5 203-5'),
 ('752', '271-5 288-5 306-5'),
 ('762', '302-5 475-5 875-5'),
 ('744', '127-5 603-5 508-5'),
 ('763', '275-5 1268-5 629-5'),
 ('767', '207-5 98-5 100-5'),
 ('771', '83-5 237-5 258-5'),
 ('772', '321-5 313-5 315-5'),
 ('760', '1037-5 451-5 365-5'),
 ('780', '662-5 199-5 133-5'),
 ('779', '181-5 21-5 195-5'),
 ('778', '11-5 367-5 42-5'),
 ('782', '326-5 313-5 328-5'),
 ('786', '200-5 318-5 132-5'),
 ('770', '508-5 1-5 919-5'),
 ('790', '1063-5 1282-5 98-5'),
 ('787', '310-5 690-5 750-5'),
 ('783', '346-5 887-5 271-5'),
 ('796', '87-5 496-5 168-5'),
 ('791', '327-5 50-5 300-5'),
 ('802', '323-5 7-5 234-5'),
 ('792', '1015-5 124-4 1335-4'),
 ('799', '479-5 258-5 654-5'),
 ('805', '475-5 470-5 443-5'),
 ('806', '182-5 654-5 89-5'),
 ('797', '50-5 781-5 181-5'),
 ('801', '895-5 294-5 288-5'),
 ('815', '173-5 483-5 183-5'),
 ('814', '100-4 200-4 219-4'),
 ('812', '294-5 748-5 333-5'),
 ('823', '211-5 502-5 31-5'),
 ('825', '423-5 986-5 7-5'),
 ('829', '192-5 318-5 509-5'),
 ('830', '69-5 100-5 511-5'),
 ('831', '96-5 181-5 272-5'),
 ('819', '1537-5 248-5 340-5'),
 ('835', '325-5 143-5 708-5'),
 ('833', '340-5 187-5 160-5'),
 ('816', '309-5 313-5 294-5'),
 ('839', '475-5 285-5 1085-5'),
 ('840', '845-5 423-5 647-5'),
 ('834', '269-5 313-5 292-5'),
 ('846', '566-5 205-5 603-5'),
 ('813', '270-5 751-5 289-4'),
 ('852', '408-5 515-5 50-5'),
 ('849', '928-5 143-5 172-5'),
 ('854', '318-5 200-5 93-5'),
 ('853', '300-5 880-5 1025-4'),
 ('824', '268-4 322-4 325-4'),
 ('862', '50-5 127-5 288-5'),
 ('820', '288-5 313-5 333-5'),
 ('857', '898-5 475-5 116-5'),
 ('868', '206-5 183-5 651-5'),
 ('875', '772-5 169-5 923-5'),
 ('873', '292-5 313-5 300-4'),
 ('880', '651-5 295-5 204-5'),
 ('881', '663-5 180-5 49-5'),
 ('883', '7-5 129-5 867-5'),
 ('886', '147-5 108-5 173-5'),
 ('885', '210-5 1-5 70-5'),
 ('889', '1589-5 196-5 56-5'),
 ('887', '1015-5 993-5 369-5'),
 ('894', '863-5 479-5 558-5'),
 ('897', '1-5 597-5 472-5'),
 ('901', '22-5 12-5 228-5'),
 ('902', '318-5 50-5 515-5'),
 ('898', '319-5 327-5 315-5'),
 ('900', '589-5 474-4 294-4'),
 ('912', '132-5 483-5 143-5'),
 ('914', '155-5 781-5 402-5'),
 ('915', '268-5 347-5 313-4'),
 ('922', '89-5 202-5 151-5'),
 ('927', '222-5 294-5 228-5'),
 ('924', '174-5 523-5 195-5'),
 ('929', '89-5 517-5 515-5'),
 ('932', '135-5 1204-5 1065-5'),
 ('934', '50-5 197-5 297-5'),
 ('933', '64-5 98-5 179-5'),
 ('935', '742-5 237-5 864-5'),
 ('925', '288-5 5-4 218-4'),
 ('942', '423-5 427-5 347-5'),
 ('943', '186-5 215-5 12-5'),
 ('939', '689-5 476-5 121-5'),
 ('936', '236-5 250-5 249-5'),
 ('930', '126-5 113-5 165-5'),
 ('920', '313-5 347-4 1612-4'),
 ('196', '655-5 67-5 663-5'),
 ('186', '566-5 470-5 925-5'),
 ('166', '328-5 322-5 300-5'),
 ('298', '8-5 498-5 496-5'),
 ('253', '465-5 510-5 183-5'),
 ('6', '14-5 98-5 492-5'),
 ('62', '182-5 433-5 132-5'),
 ('200', '222-5 673-5 318-5'),
 ('210', '204-5 97-5 527-5'),
 ('224', '22-5 662-5 1039-5'),
 ('194', '520-5 56-5 523-5'),
 ('291', '144-5 686-5 15-5'),
 ('308', '81-5 187-5 298-5'),
 ('95', '1-5 174-5 173-5'),
 ('38', '95-5 153-5 161-5'),
 ('225', '237-5 480-5 136-5'),
 ('97', '228-5 222-5 670-5'),
 ('181', '25-5 237-5 220-4'),
 ('276', '64-5 181-5 419-5'),
 ('7', '492-5 661-5 648-5'),
 ('201', '203-5 313-5 276-5'),
 ('287', '327-5 1-5 294-5'),
 ('242', '1137-5 934-5 1152-5'),
 ('99', '4-5 1016-5 50-5'),
 ('178', '73-5 121-5 427-5'),
 ('251', '1014-5 144-5 50-5'),
 ('81', '282-5 318-5 98-5'),
 ('260', '990-5 1105-5 1025-5'),
 ('25', '181-5 25-5 258-5'),
 ('59', '196-5 23-5 715-5'),
 ('72', '195-5 182-5 427-5'),
 ('87', '82-5 210-5 177-5'),
 ('42', '423-5 96-5 274-5'),
 ('292', '174-5 11-5 661-5'),
 ('13', '215-5 56-5 823-5'),
 ('92', '121-5 176-5 180-5'),
 ('254', '50-5 174-5 97-5'),
 ('293', '135-5 496-5 484-5'),
 ('127', '229-5 380-5 300-5'),
 ('267', '518-5 114-5 654-5'),
 ('11', '723-5 741-5 429-5'),
 ('28', '98-5 7-5 480-5'),
 ('135', '98-5 23-4 294-4'),
 ('32', '475-5 298-5 268-5'),
 ('90', '382-5 98-5 1198-5'),
 ('250', '596-5 200-5 64-5'),
 ('271', '132-5 187-5 482-5'),
 ('168', '151-5 866-5 1197-5'),
 ('58', '173-5 709-5 100-5'),
 ('94', '651-5 211-5 58-5'),
 ('41', '474-5 175-5 516-5'),
 ('262', '64-5 318-5 709-5'),
 ('43', '64-5 284-5 26-5'),
 ('269', '522-5 246-5 285-5'),
 ('85', '187-5 517-5 709-5'),
 ('49', '47-5 547-5 168-5'),
 ('155', '306-5 321-4 286-4'),
 ('172', '183-5 177-4 220-4'),
 ('268', '205-5 114-5 483-5'),
 ('5', '382-5 436-5 42-5'),
 ('80', '466-5 208-5 215-5'),
 ('18', '408-5 113-5 496-5'),
 ('15', '754-5 458-5 459-5'),
 ('232', '483-5 52-5 91-5'),
 ('52', '1009-5 498-5 657-5'),
 ('148', '408-5 114-5 70-5'),
 ('125', '163-5 190-5 318-5'),
 ('151', '10-5 197-5 835-5'),
 ('294', '271-5 127-5 288-5'),
 ('36', '339-5 883-5 882-5'),
 ('295', '218-5 961-5 704-5'),
 ('233', '202-5 357-5 958-5'),
 ('297', '57-5 275-5 286-5'),
 ('193', '485-5 127-5 100-5'),
 ('275', '98-4 265-4 520-4'),
 ('218', '209-5 516-5 12-5'),
 ('123', '135-5 192-5 165-5'),
 ('302', '307-4 301-4 271-4'),
 ('23', '258-5 511-5 421-5'),
 ('187', '64-5 116-5 427-5'),
 ('170', '749-5 292-5 245-5'),
 ('101', '237-5 405-4 121-4'),
 ('133', '258-5 272-5 271-5'),
 ('104', '269-5 150-5 302-5'),
 ('191', '313-5 86-5 316-5'),
 ('61', '328-5 347-5 300-5'),
 ('142', '169-5 181-5 333-5'),
 ('177', '56-5 89-5 182-5'),
 ('203', '181-5 332-5 50-5'),
 ('197', '96-5 511-5 515-5'),
 ('236', '57-5 286-5 729-5'),
 ('109', '258-5 627-5 195-5'),
 ('114', '175-5 1104-5 183-5'),
 ('239', '1099-5 1070-5 272-5'),
 ('117', '268-5 181-5 15-5'),
 ('65', '196-5 676-5 97-5'),
 ('137', '144-5 300-5 546-5'),
 ('235', '70-5 419-5 511-5'),
 ('281', '304-5 690-5 271-5'),
 ('182', '69-5 172-5 423-5'),
 ('129', '286-5 906-5 272-4'),
 ('131', '100-5 750-5 313-5'),
 ('126', '878-5 884-5 243-5'),
 ('288', '272-5 127-5 196-5'),
 ('152', '685-5 111-5 272-5'),
 ('79', '100-5 246-5 124-5'),
 ('75', '1017-5 496-5 475-5'),
 ('245', '1028-5 1033-5 181-4'),
 ('282', '327-5 258-5 302-5'),
 ('78', '1160-5 301-5 237-5'),
 ('118', '200-5 774-5 654-5'),
 ('171', '272-5 292-4 327-4'),
 ('306', '14-5 242-5 306-5'),
 ('311', '98-5 203-5 83-5'),
 ('165', '372-5 258-5 181-5'),
 ('2', '251-5 50-5 316-5'),
 ('205', '316-4 333-4 289-4'),
 ('159', '1028-5 127-5 451-5'),
 ('156', '641-5 180-5 197-5'),
 ('37', '403-5 56-5 161-5'),
 ('195', '181-5 100-5 651-5'),
 ('47', '340-5 302-5 305-5'),
 ('89', '216-5 197-5 732-5'),
 ('313', '616-5 96-5 191-5'),
 ('124', '11-5 166-5 154-5'),
 ('149', '269-5 286-5 313-5'),
 ('176', '324-5 272-5 305-5'),
 ('312', '133-5 573-5 494-5'),
 ('220', '288-5 286-5 300-5'),
 ('199', '268-5 242-5 286-5'),
 ('206', '302-5 288-5 895-5'),
 ('76', '135-5 276-5 1129-5'),
 ('314', '28-5 95-5 692-5'),
 ('136', '276-5 14-5 100-5'),
 ('3', '328-5 321-5 320-5'),
 ('212', '197-5 382-5 527-5'),
 ('310', '116-5 845-5 304-5'),
 ('35', '300-5 259-4 680-4'),
 ('105', '258-5 270-5 313-5'),
 ('71', '89-5 462-5 475-5'),
 ('51', '83-5 173-5 144-5'),
 ('31', '484-5 705-5 504-5'),
 ('103', '126-5 527-5 50-5'),
 ('318', '257-5 648-5 204-5'),
 ('30', '435-5 1007-5 286-5'),
 ('120', '25-5 286-5 258-5'),
 ('46', '690-5 333-5 1062-5'),
 ('289', '1016-5 849-4 7-4'),
 ('261', '340-5 875-5 339-5'),
 ('247', '736-5 111-5 50-5'),
 ('321', '615-5 483-5 1194-5'),
 ('266', '275-5 100-5 508-4'),
 ('238', '298-5 286-5 111-4'),
 ('323', '127-5 744-5 22-5'),
 ('67', '64-5 240-5 405-5'),
 ('211', '257-5 423-5 205-5'),
 ('228', '313-5 272-5 690-5'),
 ('320', '177-5 68-5 210-5'),
 ('327', '192-5 188-5 234-5'),
 ('183', '483-5 485-5 230-5'),
 ('322', '197-5 32-5 50-5'),
 ('27', '100-5 123-5 298-4'),
 ('332', '693-5 228-5 229-5'),
 ('329', '124-5 272-5 137-5'),
 ('300', '872-5 876-5 881-5'),
 ('39', '352-5 937-5 748-5'),
 ('324', '748-5 471-5 298-5'),
 ('169', '879-5 603-5 172-5'),
 ('339', '132-5 856-5 475-5'),
 ('309', '326-5 331-5 1025-5'),
 ('340', '1-5 405-5 1133-5'),
 ('343', '135-5 82-5 655-5'),
 ('273', '902-5 268-5 311-4'),
 ('55', '144-5 89-5 273-5'),
 ('349', '20-5 10-5 276-5'),
 ('358', '132-5 863-5 318-5'),
 ('352', '182-5 183-5 568-5'),
 ('360', '511-5 14-5 134-5'),
 ('363', '1495-5 189-5 1007-5'),
 ('355', '286-5 288-5 1175-5'),
 ('362', '333-5 312-5 302-5'),
 ('357', '222-5 125-5 118-5'),
 ('350', '174-5 657-5 589-5'),
 ('367', '250-5 17-5 665-5'),
 ('368', '17-5 320-5 201-5'),
 ('371', '97-5 237-5 663-5'),
 ('373', '694-5 724-5 154-5'),
 ('374', '129-5 125-5 200-5'),
 ('337', '230-5 742-5 135-5'),
 ('366', '853-5 448-5 672-5'),
 ('377', '288-5 154-5 313-5'),
 ('379', '202-5 520-5 732-5'),
 ('381', '582-5 50-5 212-5'),
 ('382', '474-5 1229-5 481-5'),
 ('364', '1048-5 294-5 286-5'),
 ('369', '271-5 181-5 114-5'),
 ('388', '313-5 117-5 310-5'),
 ('393', '763-5 12-5 136-5'),
 ('392', '178-5 302-5 165-5'),
 ('394', '67-5 568-5 174-5'),
 ('391', '56-5 26-5 180-5'),
 ('398', '69-5 423-5 50-5'),
 ('397', '7-5 178-5 56-5'),
 ('399', '924-5 196-5 588-5'),

In [29]:
combinedratings = sqlContext.createDataFrame(ratings)
combinedratings.createOrReplaceTempView("ratings")

combinedratings.coalesce(1).write.csv('ProcessedData/combinedRatings/')
os.system('mv ./ProcessedData/combinedRatings/*.csv ./ProcessedData/combinedRatings/combinedRatings.csv')

0

# User Section

In [32]:
users = pd.read_csv('Data/u.user',sep ="|", names = ['UserId','Age','Gender','Occupation','Zip'])
users.head(5)

   UserId  Age Gender  Occupation    Zip
0       1   24      M  technician  85711
1       2   53      F       other  94043
2       3   23      M      writer  32067
3       4   24      M  technician  43537
4       5   33      F       other  15213

In [33]:
def get_user_index_by_user_id(user_id):
    return int(user_id-1)

def get_user_suggestions_by_user_id(user_id):
    userIndex = get_user_index_by_user_id(user_id)
    suggestion_index = age_occ_suggestion_matrix[userIndex]
    print(suggestion_index)

In [34]:
cv = CountVectorizer()

age_count_matrix = 1-euclidean_distances(users['Age'].values.reshape(-1,1))*0.01
age_count_matrix*=0.6

occupation_count_matrix = cv.fit_transform(users['Occupation'])
ocs = cosine_similarity(occupation_count_matrix)
ocs*=0.4

age_occ_matrix = np.add(ocs,age_count_matrix)

age_occ_suggestion_matrix = []
for rows in age_occ_matrix:
    row = list(enumerate(rows))
    row.sort(key= lambda x: -x[1])
    row = sorted(row,key=lambda x: -x[1])[1:6]
    age_occ_suggestion_matrix.append(row)
age_occ_suggestion_matrix = np.array(age_occ_suggestion_matrix)

In [37]:
get_user_suggestions_by_user_id(1)

[[  3.   1.]
 [455.   1.]
 [716.   1.]
 [831.   1.]
 [888.   1.]]

# Movie Section

In [41]:
movie_genre = pd.read_csv("ProcessedData/movie_genre.csv")
indexedMovies = pd.read_csv("ProcessedData/movieId_movies.csv")

In [42]:
##Getting index based on titles of the movie
def get_movie_id(title):
    return indexedMovies.loc[indexedMovies['Title']==title].values.tolist()[0][0]

##Getting suggestions by title name
def get_suggestion_by_movie_title(title):
    movie_index = get_movie_id(title)-1
    return get_suggestion_by_movie_index(movie_index)
##Getting suggestions by movie ID
def get_suggestion_by_movie_id(movieId):
    movieId = int(movieId)
    return get_suggestion_by_movie_index(movieId-1)

##Getting Titles based on the indexes from the suggestions 
def get_suggestion_by_movie_index(index):
    row = enumerated[index]
    returnVal = []
    print("Given Movie", indexedMovies.loc[indexedMovies['MovieId'] == index+1].values.tolist()[0])
    for movies in row:
        returnVal.append(indexedMovies.loc[indexedMovies['MovieId'] == movies[0]+1].values.tolist()[0])
    return (returnVal)

## User's top 3 rated movies

In [55]:
# Getting movie recommendation from the userId from user's top 3 ratings
def get_movies_based_on_previous_rating(userId):
    userRatings = combinedRatings.loc[combinedRatings['UserId'] == userId, 'Ratings'].tolist()[0]
    movies = userRatings.split(' ')
    returnList = []
    for movie in movies:
        movieId,ratings = movie.strip().split('-')
        returnList+=get_suggestion_by_movie_id(movieId)
    return returnList

In [56]:
combinedRatings = pd.read_csv('processedData/combinedRatings/combinedRatings.csv', names = ['UserId','Ratings'])
combinedRatings.head(5)

   UserId             Ratings
0      22   128-5 258-5 510-5
1     244    154-5 89-5 652-5
2     115     8-5 127-5 234-5
3     305    427-5 483-5 50-5
4     286  1014-5 379-5 288-5

## Finding Cosine Similarities between movies

In [57]:
columnValues = movie_genre.values
cs = cosine_similarity(columnValues)
cs

array([[1.        , 0.        , 0.        , ..., 0.        , 0.57735027,
        0.        ],
       [0.        , 1.        , 0.57735027, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.57735027, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.70710678],
       [0.57735027, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.70710678, 0.        ,
        1.        ]])

In [58]:
## Suggestion list for each movie by their indexes
enumerated = []

for index in cs:
    row = list(enumerate(index))
    row.sort(key = lambda x: -x[1])
    row = list(filter(lambda x: x[1]>0 , row))[1:6]
    enumerated.append(row)

enumerated = np.array(enumerated)

## Get Suggestions

In [59]:
suggestions = get_suggestion_by_movie_index(0)
for movies in suggestions:
    print(movies)

Given Movie [1, 'Toy Story (1995)']
[422, 'Aladdin and the King of Thieves (1996)']
[95, 'Aladdin (1992)']
[1219, 'Goofy Movie, A (1995)']
[63, 'Santa Clause, The (1994)']
[94, 'Home Alone (1990)']

In [60]:
get_movies_based_on_previous_rating(22)

Given Movie [128, 'Supercop (1992)']
Given Movie [258, 'Contact (1997)']
Given Movie [510, 'Magnificent Seven, The (1954)']

[[79, 'Fugitive, The (1993)'],
 [128, 'Supercop (1992)'],
 [144, 'Die Hard (1988)'],
 [147, 'Long Kiss Goodnight, The (1996)'],
 [226, 'Die Hard 2 (1990)'],
 [258, 'Contact (1997)'],
 [429, 'Day the Earth Stood Still, The (1951)'],
 [1006, 'Until the End of the World (Bis ans Ende der Welt) (1991)'],
 [239, 'Sneakers (1992)'],
 [270, 'Gattaca (1997)'],
 [840, 'Last Man Standing (1996)'],
 [177, 'Good, The Bad and The Ugly, The (1966)'],
 [339, 'Mad City (1997)'],
 [686, 'Perfect World, A (1993)'],
 [808, 'Program, The (1993)']]

In [61]:
get_movie_id("Aladdin and the King of Thieves (1996)")

422

In [62]:
get_suggestion_by_movie_title('Toy Story (1995)')

Given Movie [1, 'Toy Story (1995)']

[[422, 'Aladdin and the King of Thieves (1996)'],
 [95, 'Aladdin (1992)'],
 [1219, 'Goofy Movie, A (1995)'],
 [63, 'Santa Clause, The (1994)'],
 [94, 'Home Alone (1990)']]