In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movie_genre = pd.read_csv("ProcessedData/movie_genre.csv")
movie_genre.head(5)

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [33]:
indexedMovies = pd.read_csv("ProcessedData/indexedMovies.csv")
indexedMovies.head(5)

   MovieId              Title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [107]:
def get_title(index):
    row = enumerated[index]
    returnVal = []
    print("Given Movie", indexedMovies.loc[indexedMovies['MovieId'] == index+1].values.tolist()[0])
    for movies in row:
        returnVal.append(indexedMovies.loc[indexedMovies['MovieId'] == movies[0]+1].values.tolist()[0])
    return (returnVal)

In [3]:
columnValues = movie_genre.values
cs = cosine_similarity(columnValues)
cs

array([[1.        , 0.        , 0.        , ..., 0.        , 0.57735027,
        0.        ],
       [0.        , 1.        , 0.57735027, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.57735027, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.70710678],
       [0.57735027, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.70710678, 0.        ,
        1.        ]])

In [30]:
enumerated = []

for index in cs:
    row = list(enumerate(index))
    row.sort(key = lambda x: -x[1])
    row = list(filter(lambda x: x[1]>0 , row))[:25]
    enumerated.append(row)

enumerated = np.array(enumerated)

In [28]:
for x in range(len(enumerated)):
    i = enumerated[x]
    print(x,i,"\n\n\n\n")

In [109]:
rt = get_title(0)
for x in rt:
    print(x)

Given Movie [1, 'Toy Story (1995)']
[1, 'Toy Story (1995)']
[422, 'Aladdin and the King of Thieves (1996)']
[95, 'Aladdin (1992)']
[1219, 'Goofy Movie, A (1995)']
[63, 'Santa Clause, The (1994)']
[94, 'Home Alone (1990)']
[102, 'Aristocats, The (1970)']
[138, 'D3: The Mighty Ducks (1996)']
[139, 'Love Bug, The (1969)']
[169, 'Wrong Trousers, The (1993)']
[189, 'Grand Day Out, A (1992)']
[225, '101 Dalmatians (1996)']
[240, 'Beavis and Butt-head Do America (1996)']
[243, 'Jungle2Jungle (1997)']
[259, 'George of the Jungle (1997)']
[261, 'Air Bud (1997)']
[377, 'Heavyweights (1994)']
[383, 'Flintstones, The (1994)']
[400, 'Little Rascals, The (1994)']
[404, 'Pinocchio (1940)']
[477, 'Matilda (1996)']
[539, 'Mouse Hunt (1997)']
[623, 'Angels in the Outfield (1994)']
[625, 'Sword in the Stone, The (1963)']
[795, 'Richie Rich (1994)']